.mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  height: 100vh;
  box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  position: relative;
  z-index: 20;
  overflow: hidden;
  
  width: 70vw;
  float: left;
  nav {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    padding: 1.5rem;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  h3 {
    color: crimson;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
}

@media (min-width: 992px) {  
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
    animation: slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 500ms ease-in;
    animation-fill-mode: forwards;
    width: 20vw;
    border-right: 0px dashed #666;
    box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.3);
    flex: none;
    transform: none;
    nav {
      transform: skewY(0);
    }
    .handle {
      display: none;
    }
  }
}

@keyframes slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
