.mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  height: 100vh;
  box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  position: relative;
  z-index: 20;
  overflow: hidden;
  transition: all 500ms ease-in;
  transform-origin: center right;
  transform: scaleX(0);
  flex: 0; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 nav {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    padding: 1.5rem; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul,
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 h3 {
    color: crimson;
    margin-bottom: 0; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 a {
    text-decoration: none; }
  .menu-open .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
    transform: scaleX(1);
    flex: 4; }

@media (min-width: 992px) {
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
    animation: slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 500ms ease-in;
    animation-fill-mode: forwards;
    width: 20vw;
    border-right: 0px dashed #666;
    box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.3);
    flex: none;
    transform: none; }
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 nav {
      transform: skewY(0); }
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 .handle {
      display: none; } }

@keyframes slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }
