.mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  height: 100vh;
  width: 0;
  padding: 1.5rem 0;
  border-right: 0px dashed #666;
  box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.5);
  background-color: #fefefe;
  position: relative;
  z-index: 20;
  float: left;
  transition: all 200ms ease-in;
  nav {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    transform: skewY(-30deg);
    transition: all 200ms ease-in;
    white-space: nowrap;
    transform-origin: top left;
  }
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  h3 {
    color: crimson;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  .handle {
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: -1.5rem;
    &:before, &:after {
      width: 50%;
      height: 100%;
      color: black;
      line-height: 1;
      display: inline-block;
      text-align: center;
      font-size: 1.5rem;
    }
    &:before {
      content: '-';
    }
    &:after {
      content: '+';
    }
  }
  .menu-open & {
    width: 70vw;
    padding: 1.5rem;
    overflow-x: hidden;
    nav {
      transform: skewY(0);
    }
  }
}

@media (min-width: 992px) {  
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
    animation: slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 200ms ease-in;
    animation-fill-mode: forwards;
    width: 20vw;
    padding: 1.5rem;
    nav {
      transform: skewY(0);
    }
    .handle {
      display: none;
    }
  }
}

@keyframes slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
