@import url('https://fonts.googleapis.com/css?family=Oswald|Nixie+One');

@import '../../../../node_modules/normalize.css/normalize.css';

body,
html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
  font-family: 'Nixie One', serif;
  background-color: #ddd;
  line-height: 1.5;
  height: 100%;
}
body {
  box-shadow: inset 0 -5rem 6rem rgba(0, 0, 0, 0.1)
}
#root {
  overflow: hidden;
}
a {
  color: inherit;
  transition: all 300ms ease-in;
  transform: translateX(0);
  &:hover {
    opacity: 0.6;
    transform: translateX(1rem);
  }
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}

.org-05396e7b-bd4b-4913-a46a-310f301f2b77 {
  height: 100%;
  width: 200vw;
  margin-left: -70vw;
  transition: margin 300ms ease-in;
  & > section {
    height: 100vh;
    overflow: auto;
    width: 100%;
    box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.5);
    background-color: #fefefe;
    transform: perspective(500rem) rotateY(0);
    transition: all 500ms ease-in;
    transform-origin: bottom left;
    width: 100vw;
  }
  &.menu-open {
    margin-left:0;
    & > section {
      transform: perspective(15rem) rotateY(15deg);
      background-color: #ccc;
    }

  }
}
@media (min-width: 992px) {  
  .org-05396e7b-bd4b-4913-a46a-310f301f2b77 {
    margin: 0; 
    & > section {
      transform: translateX(-100vw);
      animation: slide-in 300ms ease-in;
      animation-direction: normal;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
      transition: none;
      transform-origin: none;
      width: 60vw;
      flex: none;
     }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
