.org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
  padding: .75rem 1.5rem; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d h1 {
    text-align: left; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d .home_contact {
    padding-top: 2rem; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d a {
    text-decoration: none; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d time {
    color: crimson; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d .post {
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

@media (min-width: 992px) {
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
    width: auto; } }
