.org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
  padding: .75rem 1.5rem;
  width: calc(100vw - 3rem);
  h1 {
    text-align: left;
  }
  p {
  }
  .home_contact {
    padding-top: 2rem;
  }
  a {
    text-decoration: none;
  }
  time {
    color: crimson;
  }
  .post {
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 992px) {  
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
     width: auto;
  }
}
