@import url("https://fonts.googleapis.com/css?family=Oswald|Nixie+One");
@import url(../../node_modules/normalize.css/normalize.css);
body,
html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
  font-family: 'Nixie One', serif;
  background: radial-gradient(#ddd 15%, transparent 16%) 0 0, radial-gradient(#ddd 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #eee;
  background-size: 16px 16px;
  line-height: 1.5;
  height: 100%; }

body {
  box-shadow: inset 0 -5rem 6rem rgba(0, 0, 0, 0.1); }

#root {
  overflow: hidden;
  height: 100%; }

a {
  color: inherit;
  transition: all 300ms ease-in;
  transform: translateX(0); }
  a:hover {
    opacity: 0.6;
    transform: translateX(1rem); }

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px; }

img {
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.atom-7456f3eb-0882-454a-a1dc-e3078dda7f34 {
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 0.75rem solid rgba(0, 0, 0, 0.2);
  border-right: 0.75rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.75rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.75rem solid black;
  transform: translateZ(0);
  animation: load8 600ms infinite linear;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem); }
  .atom-7456f3eb-0882-454a-a1dc-e3078dda7f34:after {
    border-radius: 50%;
    width: 4rem;
    height: 4rem; }

@keyframes load8 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 {
  background: transparent;
  border: none;
  -webkit-appearance: unset;
  outline: none; }

.mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  height: calc(100vh - (100vh - 100%));
  box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  position: relative;
  z-index: 20;
  overflow: hidden;
  width: 70vw;
  float: left; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 nav {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    padding: 1.5rem;
    padding-bottom: 5rem;
    overflow-y: auto; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul,
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    background-color: transparent;
    transition: background-color 200ms ease-in; }
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul:after,
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li:after {
      content: "";
      position: absolute;
      bottom: .25rem;
      right: -2rem;
      height: 0;
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-top: 1.5rem solid transparent;
      transform: rotate(-90deg);
      transition: border-top 200ms ease-in; }
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul.active,
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li.active {
      background-color: crimson;
      color: white;
      margin-left: -.5rem; }
      .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul.active a,
      .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li.active a {
        padding-left: 12px; }
      .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 ul.active:after,
      .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 li.active:after {
        border-top: 1.5rem solid crimson;
        transform: rotate(-90deg); }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 h3 {
    color: crimson;
    margin-bottom: 12px; }
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 a {
    text-decoration: none;
    padding: 3px 0 3px 6px;
    display: inline-block; }

@media (min-width: 992px) {
  .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
    animation: slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 500ms ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    width: 20vw;
    border-right: 0px dashed #666;
    box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.3);
    flex: none;
    transform: perspective(500rem) skewY(-5deg);
    transform-origin: bottom right;
    transition: transform 200ms ease-in !important; }
    .mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29:hover {
      transform: perspective(500rem) skewY(0); } }

@keyframes slide-in-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  0% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(0); }
  80% {
    transform: perspective(0) skewY(0); }
  100% {
    transform: perspective(500rem) skewY(-5deg); } }

@keyframes flip-mol-2a2c1466-55b6-4b02-9bd9-3261469c7c29 {
  0% {
    transform: perspective(500rem) skewY(-5deg); }
  100% {
    transform: perspective(0) skewY(0); } }

.mol-b684bb38-10a7-4f15-81fe-8e7d413b4d33 {
  background-color: #333;
  height: 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10; }
  .mol-b684bb38-10a7-4f15-81fe-8e7d413b4d33 .atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 {
    color: white;
    font-size: 2.5rem;
    line-height: .75; }

@media (min-width: 992px) {
  .mol-b684bb38-10a7-4f15-81fe-8e7d413b4d33 {
    display: none; } }

.mol-eb7f4bd8-d14e-4bc1-be67-341064cca113 {
  padding: 1.5rem;
  background-color: crimson;
  color: white;
  position: sticky;
  text-align: center;
  margin-bottom: 9rem; }
  .mol-eb7f4bd8-d14e-4bc1-be67-341064cca113:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -3rem;
    left: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 3rem solid crimson; }

@media (min-width: 992px) {
  .mol-eb7f4bd8-d14e-4bc1-be67-341064cca113:after {
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-top: 3rem solid crimson; } }

.mol-28055d40-87fd-4b8c-925d-c061f7d075d2 {
  padding: .75rem 1.5rem; }

@media (min-width: 992px) {
  .mol-28055d40-87fd-4b8c-925d-c061f7d075d2 {
    min-width: auto; } }

.org-05396e7b-bd4b-4913-a46a-310f301f2b77 {
  height: 100%;
  width: 200vw;
  margin-left: -70vw;
  transition: margin 300ms ease-in; }
  .org-05396e7b-bd4b-4913-a46a-310f301f2b77 > section {
    height: calc(100vh - (100vh - 100%));
    overflow: auto;
    width: 100%;
    box-shadow: -1.5rem 0rem 3rem 1.5rem rgba(0, 0, 0, 0.5);
    background-color: #fefefe;
    transform: perspective(500rem) rotateY(0);
    transition: all 300ms ease-in;
    transform-origin: bottom left;
    width: 100vw; }
    .org-05396e7b-bd4b-4913-a46a-310f301f2b77 > section .atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 {
      opacity: 1;
      transition: opacity 300ms; }
  .org-05396e7b-bd4b-4913-a46a-310f301f2b77.menu-open {
    margin-left: 0; }
    .org-05396e7b-bd4b-4913-a46a-310f301f2b77.menu-open > section {
      transform: perspective(15rem) rotateY(15deg);
      background-color: #ccc; }
      .org-05396e7b-bd4b-4913-a46a-310f301f2b77.menu-open > section .atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 {
        opacity: 0; }

@media (min-width: 992px) {
  .org-05396e7b-bd4b-4913-a46a-310f301f2b77 {
    margin: 0; }
    .org-05396e7b-bd4b-4913-a46a-310f301f2b77 > section {
      transform: translateX(-100vw);
      animation: slide-in 400ms ease-in;
      animation-direction: normal;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
      transition: none;
      transform-origin: none;
      width: 60vw;
      flex: none; } }

@keyframes slide-in {
  0% {
    transform: translateX(-100vw); }
  50% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

.org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
  padding: .75rem 1.5rem; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d h1 {
    text-align: left; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d .home_contact {
    padding-top: 2rem; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d a {
    text-decoration: none; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d time {
    color: crimson; }
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d .post:not(:last-child) {
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

@media (min-width: 992px) {
  .org-a9ca065c-a467-47bb-a252-2138bff1cb1d {
    width: auto; } }
