.mol-b684bb38-10a7-4f15-81fe-8e7d413b4d33 {
   background-color: crimson;
   height: 3rem;
   width: 100%; 
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10;
   display: flex;
   flex-direction: row;
   align-items: center;
   .atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 {
       color: white;
       font-size: 2.5rem;
       line-height: .75;
   }
   &.close {
       opacity: 1;
       justify-content: flex-end;
    .atom-f6089643-9ab0-4a31-8a40-3ef172ec5a04 { 
        transform: rotate(180deg);
    }
   }
   @include media-breakpoint-up(lg) { 
       display: none;
    }
}